

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->


        <!-- ======= About Section ======= -->
        <section id="about" class="about mt-5">
            <div class="container" data-aos="fade-up">
                <div class="breadcrumb-wrap mb-5">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Bài viết</a></li>
                        <li class="breadcrumb-item active">Chi tiết bài viết</li>
                    </ul>

                </div>
                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        <p class="font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        </p>

                    </div>
                </div>

            </div>
        </section>
        <!-- End About Section -->




        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">

            <div class="container" data-aos="fade-up">
                <div class="comment-form-wrap pt-5">
                    <div class="section-title">
                        <h2>Nội dung bình luận</h2>

                    </div>
                    <ul class="comment-list list-unstyled">
                        <!-- @foreach(\App\Models\Comment::where('post_id',$detail->id)->get() as $comment) @if($comment->status == 1) -->
                        <li class="comment d-flex">
                            <div class="vcard bio">

                                <img src="" />
                            </div>
                            <div class="comment-body">

                                <div class="meta d-flex">
                                    <p class="mr-3">hjhgjhj</p>
                                    (2h trk)
                                </div>
                                <p>ggfhgfhgf</p>

                            </div>
                        </li>

                    </ul>

                    <div class="section-title">
                        <h2>Bình luận</h2>

                    </div>
                    <form action="{{route('post.comment')}}" method="POST">
                        @csrf
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="contents" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnComment" value="Gửi bình luận" class="get-started-btn" style="border: none;">
                        </div>
                        <input type="hidden" name="post_id" value="gf">
                    </form>
                    <!-- @else
                <h3 class="mb-5">Bạn phải <a href="{{url('dang-nhap')}}">Đăng nhập </a> mới có thể bình luận</h3>
                @endif -->

                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->

        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Bài viết liên quan</h2>

                </div>

                <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3><a href="">Saul Goodman</a></h3>

                            <p>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.

                            </p>
                        </div>
                    </div>



                    <!-- <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div> -->

                </div>

            </div>
        </section>

    </main>
    <!-- End #main -->
